[data]
    profile = "{{ env "CHEZMOI_PROFILE" | default "home" }}"

    [data.packages]
        # Core Shell & Terminal Architecture
        nushell         = { windows = "nu",             linux = "nushell" }
        wezterm         = { windows = "wezterm",        linux = "wezterm" }
        starship        = { windows = "starship",       linux = "starship" }
        fastfetch       = { windows = "fastfetch",      linux = "fastfetch" }
        lazygit         = { windows = "lazygit",        linux = "lazygit" }
        figlet          = { windows = "figlet",         linux = "" }
        meow            = { windows = "meow",           linux = "" }

        # Main CLI Utilities
        yazi            = { windows = "yazi",           linux = "yazi" }
        tuxedo          = { windows = "tuxedo",         linux = "tuxedo" }
        ffmpeg          = { windows = "ffmpeg",         linux = "ffmpeg" }
        jq              = { windows = "jq",             linux = "jq" }
        fd              = { windows = "fd",             linux = "fd-find" }
        ripgrep         = { windows = "ripgrep",        linux = "ripgrep" }
        fzf             = { windows = "fzf",            linux = "fzf" }
        zoxide          = { windows = "zoxide",         linux = "zoxide" }

        # Heavy System Dependencies & Core Libraries
        sevenzip        = { windows = "7zip",           linux = "p7zip-full" }
        poppler         = { windows = "poppler",        linux = "poppler-utils" }
        resvg           = { windows = "resvg",          linux = "resvg" }
        imagemagick     = { windows = "imagemagick",    linux = "imagemagick" }
        # glazewm         = { windows = "glazewm",        linux = "" }

        # Windows-Only Runtimes (Mapped to pass safely or skip on Linux targets)
        vcredist2022    = { windows = "vcredist2022",   linux = "" }

        # Custom Shell Extensions
        terminal_icons  = { windows = "terminal-icons", linux = "" }

        # Utilities and Apps
        zen             = { windows = "zen-browser",    linux = "zen" }

        #programs to include on home profile
        {{- if eq (env "CHEZMOI_PROFILE") "home" }}
        localsend       = { windows = "localsend",      linux = "" }

        #programs to include on work profile
        {{- else if eq (env "CHEZMOI_PROFILE") "work" }}

        {{- end }}
