local wezterm = require("wezterm")
local config = wezterm.config_builder()

local has_secrets, secrets = pcall(require, "secrets")
if has_secrets and secrets.ssh_domains then
	config.ssh_domains = secrets.ssh_domains
else
	config.ssh_domains = {}
end

-- Import Catppuccin theme (Mocha)
function scheme_for_appearance(appearance)
	if appearance:find("Dark") then
		return "Catppuccin Frappe"
	else
		return "Catppuccin Frappe"
	end
end

config.color_scheme = scheme_for_appearance(wezterm.gui.get_appearance())

wezterm.on("gui-startup", function(cmd)
	local screen = wezterm.gui.screens().active

	-- Change this ratio to adjust your screen margin (0.80 = 80% screen size)
	local ratio = 0.94
	local width = screen.width * ratio + 80
	local height = screen.height * ratio

	local x = (screen.width - width) / 2 - 8
	local y = (screen.height - height) / 2 - 18

	local args = cmd or {}
	args.position = {
		x = x,
		y = y,
		origin = "ActiveScreen",
	}

	local _, _, window = wezterm.mux.spawn_window(args)

	window:gui_window():set_inner_size(width, height)
end)

wezterm.on("window-focus-changed", function(window)
	local overrides = window:get_config_overrides() or {}
	if not overrides.allow_win32_input_mode then
		overrides.allow_win32_input_mode = true
		window:set_config_overrides(overrides)
	end
end)

config.harfbuzz_features = { "calt=1", "cli=1", "lig=1", "ss01=1" }

-- Font
config.font = wezterm.font_with_fallback({
	"Cascadia Mono",
	"CaskaydiaCove Nerd Font Mono",
})
config.font_size = 9.5

-- Window look
config.front_end = "WebGpu"
config.window_background_opacity = 0.96
config.window_padding = { left = 10, right = 10, top = 10, bottom = 10 }
config.window_decorations = "RESIZE"
config.hide_tab_bar_if_only_one_tab = false
config.use_fancy_tab_bar = false
{{ if eq .chezmoi.os "windows" }}
-- local userprofile = os.getenv("USERPROFILE")

-- config.default_prog = {
--  userprofile .. "/scoop/shims/nu.exe",
-- }

config.default_prog = {
  "nu",
}
{{ else }}
-- Linux / macOS (System Path)
config.default_prog = { "/usr/bin/nu" }
{{ end }}

config.leader = { key = " ", mods = "SHIFT", timeout_milliseconds = 1000 }

config.keys = {
	{ key = " ", mods = "CTRL", action = wezterm.action.SendKey({ key = " ", mods = "CTRL" }) },
	{
		key = "w",
		mods = "CTRL",
		action = wezterm.action.CloseCurrentPane({ confirm = false }),
	},
	{
		key = "d",
		mods = "LEADER",
		action = wezterm.action.SplitHorizontal({ domain = "CurrentPaneDomain" }),
	},
	{
		key = "f",
		mods = "LEADER",
		action = wezterm.action.SplitVertical({ domain = "CurrentPaneDomain" }),
	},
	{ key = " ", mods = "LEADER", action = wezterm.action.SendKey({ key = " ", mods = "CTRL" }) },
	{
		key = "p",
		mods = "LEADER",
		action = wezterm.action.ActivatePaneDirection("Prev"),
	},
	{
		key = "n",
		mods = "LEADER",
		action = wezterm.action.ActivatePaneDirection("Next"),
	},
	{
		key = "e",
		mods = "LEADER",
		action = wezterm.action.Multiple({
			wezterm.action.SendString("nvim"),
			wezterm.action.SendKey({ key = "Enter" }),
		}),
	},
	{
		key = "g",
		mods = "LEADER",
		action = wezterm.action.Multiple({
			wezterm.action.SendString("lazygit"),
			wezterm.action.SendKey({ key = "Enter" }),
		}),
	},
	{
		key = "y",
		mods = "LEADER",
		action = wezterm.action.Multiple({
			wezterm.action.SendString("y"),
			wezterm.action.SendKey({ key = "Enter" }),
		}),
	},
	{
		key = "t",
		mods = "LEADER",
		action = wezterm.action.Multiple({
			wezterm.action.SendString("tuxedo"),
			wezterm.action.SendKey({ key = "Enter" }),
		}),
	},
	{
		key = "m",
		mods = "LEADER",
		action = wezterm.action.PaneSelect({ mode = "SwapWithActive" }),
	},
	{
		key = "h",
		mods = "LEADER",
		action = wezterm.action.ActivatePaneDirection("Left"),
	},
	{
		key = "l",
		mods = "LEADER",
		action = wezterm.action.ActivatePaneDirection("Right"),
	},
	{
		key = "k",
		mods = "LEADER",
		action = wezterm.action.ActivatePaneDirection("Up"),
	},
	{
		key = "j",
		mods = "LEADER",
		action = wezterm.action.ActivatePaneDirection("Down"),
	},
	{
		key = "0",
		mods = "LEADER",
		action = wezterm.action.PaneSelect,
	},
	{
		key = "h",
		mods = "ALT",
		action = wezterm.action.ActivateTabRelative(-1),
	},
	{
		key = "l",
		mods = "ALT",
		action = wezterm.action.ActivateTabRelative(1),
	},
	{
		key = "p",
		mods = "ALT",
		action = wezterm.action.ShowTabNavigator,
	},
	{
		key = "n",
		mods = "ALT",
		action = wezterm.action.SpawnTab("CurrentPaneDomain"),
	},
}

local tabline = wezterm.plugin.require("https://github.com/michaelbrusegard/tabline.wez")
tabline.setup({
	options = {
		theme = config.colors,
		theme_overrides = {
			normal_mode = {
				-- c covers the middle spacer section (tabline_c) and
				-- standard background empty space of the bar
				c = { bg = "rgba(48, 52, 70, 0.96)" },
			},
			tab = {
				inactive = { bg = "rgba(48, 52, 70, 0.96)" },
				inactive_hover = { bg = "rgba(48, 52, 70, 0.96)" },
				active = { bg = "rgba(48, 52, 70, 0.96)" },
			},
		},
	},
	sections = {
		tabline_a = { "mode" },
		tabline_b = { "workspace" },
		tabline_c = { " " },
		tab_active = {
			{ Background = { Color = "rgba(48, 52, 70, 1)" } },
			"index",
			{ "parent", padding = 0 },
			"/",
			{ "cwd", padding = { left = 0, right = 1 } },
			{ "zoomed", padding = 0 },
		},
		tab_inactive = {
			{ Background = { Color = "rgba(48, 52, 70, 1)" } },
			{
				"process",
				icons_enabled = false,
			},
			"",
			{
				"cwd",
			},
		},
		tabline_x = { "ram", "cpu" },
		tabline_y = { "datetime", "battery" },
		tabline_z = { "domain" },
	},
	extensions = {},
})

tabline.apply_to_config(config)

return config
